@import '@/styles/variables.scss';

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 148px;
    height: 35px;
    border-radius: 5px;
    font-size: 18px;
    color: #fff;
    font-family: $font-family;
    letter-spacing: 1px;
    transition: all .5s ease;
    cursor: pointer;
}

.primary {
    background-color: $blue;
    border: 1px solid $blue;

    &:hover {
        background-color: lighten($blue-light, 5%);
        border: 1px solid lighten($blue-light, 5%);
    }
}

.secondary {
    background-color: $pink;
    border: 1px solid $pink;
    
    &:hover {
        background-color: lighten($pink-light, 5%);
        border: 1px solid lighten($pink-light, 5%);
    }
}

.arrow {
    margin-left: 10px;
    transition: all .5s;
}

.down {
    transform: rotate(90deg);
}

.right {
    transform: rotate(0);
    svg {
        fill: #fff;
    }
}